RUST_LOG=info

API_URL=""
ID_INSTANCE=""
API_TOKEN_INSTANCE=""
ADMIN_CHAT_ID=""
WORKER_URL=""
SHOP_ADDRESS=""
SHOP_PHONE=""

# количество секунд ожидания реакции клиента в случае если нет загруженных файлов
# не делаем напоминания, просто ждем
NO_FILES_TIMEOUT=60

# количество повторных запросов в случае если есть файлы
REPEAT_COUNT=3

# таймаут в секундах между запросами не менее указанного
REPEAT_TIMEOUT=30

HOOK_PORT=7777
SECRET_TOKEN=""

PAPER_PROMPT="Выберите тип бумаги\nУкажите цифру варианта:\n\n"
SIZE_PROMPT="Выберите размер фотографий\nУкажите цифру варианта:\n\n"
FILES_DONE_PROMPT="Загрузите файлы для печати. Когда закончите с отправкой файлов, напишите: все"
# также работает 'всё' и 'готов' + любое окончание готова, готовы, готово...